<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Mario Castrillon Gutierrez</title>
    <link rel="stylesheet" href="..//CSS/Foto.css">
</head>
<body>
    
    <div class="flex-container">
        <div class="tropical"></div>
        <div class="cold"></div>
        <div class="pnw"></div>
        <div class="desert"></div>
    </div>

</body>
</html>