.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.flex-container>div {
    height: 1000px;
    width: 100%;
    border: 5px solid #fff;
}

.flex-container > .tropical {
    background-image: url(../Img/Personal-1.jpeg);
}

.flex-container > .cold {
    background: url(../Img/Personal-2.jpeg);
}

.flex-container > .pnw {
    background: url(../Img/Personal-3.jpeg);
}

.flex-container > .desert {
    background: url(../Img/Personal-4.jpeg);
}

@media only screen and (max-width: 1000px) {
   .flex-container {
    flex-wrap: wrap;
   } 
}