div.example{
    background-color: lightgrey;
    padding: 20px;
}

@media screen and (min-with: 601px) {
    div.example {
        font-size: 80px;
    } 
}

@media screen and (max-with: 600px) {
    div.example {
        font-size: 30px;
    } 
}
